# Xcode
.DS_Store
# */build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
profile
*.moved-aside
DerivedData
.idea/
*.hmap
*.xccheckout
*/proj.android/*
## proj.android
# update_android.py
proj.android/makefile_version_control
proj.android/assets/
proj.android/jni/Android.mk
proj.android/jni/classes/
proj.android/libs/armeabi/
proj.android/obj/
# Eclipse
proj.android/.classpath
proj.android/.project
proj.android/bin/
proj.android/gen/
